* {
    font-family: "Droid Sans", sans-serif;
}

body {
    font-size: 16px;
    line-height: 24px
}

header h1 {
    position: absolute;
    color: #ffffff;
    margin-left: 5px;
}

nav {
    background-color: #003366;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 50px 0 5px;
    font-size: 18px;
}

nav a:hover {
    color: #000000;
}


article img {
    float: left;
    margin-right: 5px;
    
}

footer {
    clear: both;
    background-color: #000044;
}

footer p {
    color: #ffffff;   
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.banner {
    width: 100%;
}

.intro {
    font-style: italic;
}


.about img {
    float: right;
    margin: 0 0 5px 5px;
}

#about-img-left {
    float: left;
    margin: 0 5px 0 5px;
}

.half {
    width: 48%;
    padding-right: 2%;
    float: left;
}

.half article h3, h4 {
    line-height: 5px;
}


.dateline {
    font-weight: bold;
}


@media (max-width: 600px) {

    .half {
        width: 100%;
    }
    
    .about img {
        width: 100%;   
    }
}