* {
    font-family: "Droid Sans", sans-serif;
}

header h1 {
    float: left;
}

nav {
    background-color: #003366;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #000000;
}

footer {
    clear: both;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.banner {
    width: 100%;
}

.half {
    width: 50%;
    float: left;
}

@media (max-width: 600px) {

    .half {
        width: 100%;
    }
}