* {
    font-family: "Droid Sans", sans-serif;
}

body {
    font-size: 16px;
    line-height: 24px;
}

header h1 {
    position: absolute;
    color: #ffffff;
    margin-left: 5px;
}

nav {
    background-color: #003366;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 50px 0 5px;
    font-size: 18px;
}

nav a:hover {
    color: #000000;
}


article img {
    float: left;
    margin-right: 5px;
    
}

iframe {
    width: 100%;
    margin-top: 5px;
}

footer {
    clear: both;
    background-color: #000044;
}

footer p {
    color: #ffffff;   
}

footer a {
    color: #ffffff;   
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.banner {
    width: 100%;
}

.intro {
    font-style: italic;
}


.about img {
    float: right;
    margin: 0 0 5px 5px;
}

#about-img-left {
    float: left;
    margin: 0 5px 0 5px;
}

.half {
    width: 48%;
    padding-right: 2%;
    float: left;
}

.half article h3, .half article h4 {
    line-height: 16px;
}

.artnav {
    width: 200px;
    background-color: #C0C0C0;
    margin-top: 5px;
    float: left;
}

.research {
    margin-left: 205px;
}

.research img {
    float: none;
}


.caption {
    font-size: 13px;
    font-style: italic;
    margin: -5px 0 50px 0;
}

.staff {
    margin-left: 205px;   
}


.dateline {
    font-weight: bold;
}


@media (max-width: 600px) {

    .half {
        width: 100%;
    }
    
    .about img {
        width: 100%;   
    }
    
    .artnav {
        display: none;
    }
    
    .research {
        margin-left: 5px;
    }
    
    .staff {
        margin-left: 5px;
    }
    
    
}